html{
  background-color: lightblue;
}
img{
  width: 292px;
height: 215px;
position: absolute;
top: 134px;
left: 378px
}
.best-wishes{
  position: relative;
      top: 379px;
      left: 326px;
}
h1{
  position: absolute;
  top: 50px;
  left: 326px;
  color: darkred;
}
.close-btn{
  position: absolute;
  top: 435px;
  left: 471px;
}
